[board_pins OctopusPro]
mcu: mcu
alias:
#Drivers
  M0_EN = PF14, M0_STEP = PF13, M0_DIR = PF12, M0_CS = PC4,
  M1_EN = PF15, M1_STEP = PG0, M1_DIR = PG1, M1_CS = PD11, 
  M2_EN = PG5, M2_STEP = PF11, M2_DIR = PG3, M2_CS = PC6,
  M3_EN = PA0, M3_STEP = PG4, M3_DIR = PC1, M3_CS = PC7,
  M4_EN = PG2, M4_STEP = PF9, M4_DIR = PF10, M4_CS = PF2,
  M5_EN = PF1, M5_STEP = PC13, M5_DIR = PF0, M5_CS = PE4,
  M6_EN = PD4, M6_STEP = PE2, M6_DIR = PE3, M6_CS = PE1,
  M7_EN = PE0, M7_STEP = PE6, M7_DIR = PA14, M7_CS = PD3,

#SPI Bus
 SPI_MOSI = PA7, SPI_MISO = PA6, SPI_SCK = PA5,
  
#Heaters
  BED_OUT = PA1,
  HE0 = PA2, HE1 = PA3, HE2 = PB10, HE3 = PB11
  
#Fans
  FAN0 = PA8, FAN1 = PE5, FAN2 = PD12, FAN3 = PD13, FAN4 = PD14, FAN5 = PD15
  
#Thermistors
  TB = PF3, T0 = PF4, T1 = PF5, T2 = PF6, T3 = PF7
  
#Endstops
  STOP_0 = PG6, STOP_1 = PG9, STOP_2 = PG10, STOP_3 = PG11,
  STOP_4 = PG12, STOP_5 = PG13, STOP_6 = PG14, STOP_7 = PG17